.fc .fc-button {
    border-radius: 100px;
    padding-left: 10px;
    padding: 0.5em 0.85em;
}

.fc .fc-button:disabled {
    opacity: 100;
}

.fc .fc-toolbar-title,
.fc .fc-col-header-cell,
.fc .fc-timegrid-slot-label,
.fc .fc-timegrid-axis-cushion {
    color: var(--fc-neutral-text-color);
}