#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid var(--fc-button-bg-color);
    background-color: var(--fc-button-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--fc-button-text-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}